## -----------------------------------------------------------------------------
## github.com/balacode/udpt                                        /[.gitignore]
## (c) balarabe@protonmail.com                                      License: MIT
## -----------------------------------------------------------------------------

# Binaries for programs and plugins
*.dll
*.dylib
*.exe
*.exe~
*.so
__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Log Files
*.log

# Temporary Files
*.tmp
tmp.*

## end
